<div>
  <h1>Basic Performance Boost</h1>

  <div class="well">
    <button class="btn btn-primary" ng-click="ctrl.reset()">Reset {{ctrl.persons.length}} rows</button>
    <button class="btn btn-primary" ng-click="ctrl.refresh()">Refresh {{ctrl.persons.length}} rows</button>
    <button class="btn btn-danger" ng-click="ctrl.loadPersons(2000)">Load 2000</button>
    <button class="btn btn-primary" type="button" ng-click="ctrl.countWatchers()">
      $watchers <span class="badge">{{ctrl.watchers}}</span>
    </button>
  </div>

  <form>
    <div class="form-group">
      <label for="name">{{ctrl.name}}&nbsp;</label>
      <input class="form-control" type="text" name="name" ng-model="ctrl.name" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 250, 'blur': 0} }" />
    </div>
  </form>

  <table class="table table-bordered">
    <tbody>

      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Profile</th>
      </tr>

      <tr ng-repeat="person in ctrl.persons | filter:{firstname:ctrl.name}" ng-class="::{'male':person.gender=='M','female':person.gender=='F'}">
        <td>{{::($index + 1)}}</td>
        <td>{{::person.firstname}}</td>
        <td>{{::person.lastname}}</td>
        <td>
          <span ng-style="::person.ageColor">
            {{::person.age}}
          </span>
        </td>
        <td>{{::person.gender}}</td>
        <td>
          <a ng-href="{{::person.url}}">
            <span ng-class="::{'label label-important':!person.url}">
              {{::(person.url ? 'link' : 'missing')}}
            </span>
          </a>
        </td>
      </tr>

    </tbody>
  </table>

</div>
